<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("partials/head.ejs") %> 
    <title>ERROR 404!</title>
    <style>
        #status404 img{
            width: 100px;
        }
        #status404 a{
            color: #2a024b;
        }
        #status404 a:hover{
            color: #01446b;
        }
    </style>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <div id="status404" align="center">
        <h1 id="infoStatus">The Webpage </h1>
        <a href="/">
            <img src="/IMG/logo.png">
            <p>Go to Home</p>
        </a>
    </div>
    <script>
        var infoStatus = document.querySelector("#infoStatus");
        infoStatus.innerHTML += `<font color='#084c6b'>${location}</font> don't exist`;
    </script>
</body>
</html>