<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include("partials/head.ejs") %>
        <title>Home - Riccine</title>
    </head>
    <body>
        <div>
            <div id="select">
                <a href="/video"><button class="selection">Go to Video</button></a><br>
                <a href="/yt"><button class="selection">Go to Youtube</button></a><br>
                <form method="post">
                        <input type="submit" value="Close Session" name="logOut" id="close">
                </form>
            </div>
        </div>
    </body>
</html>