<nav id="navbar">
    <div id="content-nav">
        <a class="linkNav" href="/select">HOME <i class="fas fa-home"></i></a>||
        <a class="linkNav" href="/video">VIDEO-PLAYER <i class="fas fa-play"></i></a>||
        <a class="linkNav" href="/yt">YT-PLAYER</a>
    </div>
    <div align="right">
        <a href="https://riccino22.github.io" id="author" target="_blank"><img src="/IMG/logo.png" alt="Riccino22" title="By Riccino"></a>
    </div>
</nav>